.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  gap: 20px;
}

.button {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Стилі для активного посилання */
.active {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

/* Стилі для посилання при наведенні мишки */
.button:hover {
  background-color: #e2e6ea;
  color: #007bff;
}
